  .experience-img-size {
    width: 100%;
    object-fit: contain;
  }
  
  .img-circle {
    border-radius: 50%;
    width: 25%;
    object-fit: contain;
    display: center;
  }
  
  .me-img{
    border-radius: 100px;
  
    width: 150%;
    object-fit:contain;
  }
  
  .fade-in-text{
    opacity: 0%;
  }

  .bg-color-blue{
    color: #fff;
    background-color: #00274C;
  }
  
  .color-maize{
    color: #FFCB05;
  }
  
  .text-big{
    font-size: 20px;
  }